python-dotenv
openai
langchain
langchain-openai
uuid
tiktoken
lxml
requests
requests_oauthlib
langchain_experimental
langchain-text-splitters
pypdf
fast
jsonschema
logging
httpx
azure-identity
azure-cosmos
docx2txt
